.detail-document-content {

    height: 100%;
    background-color: rgb(239 239 239);
    padding-top: 1.5rem;


    .detail-document-section {

        width: 80%;
        height: 100%;
        margin: 0 auto;


        .show-info-document-header {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .show-info-document-content {
                grid-template-columns: auto 30%;

                .show-info-document-display {

                    .show-title-document {

                        display: flex;
                        gap: 1rem;
                        padding: 15px 0;


                        .title-left {
                            width: 50%;

                            .document-rating {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                flex-flow: wrap;
                                gap: 1rem;

                                .btn-rating {
                                    margin: 0px;
                                    color: inherit;
                                    font-size: 0.813rem;
                                    line-height: 1.25rem;
                                    font-weight: 400;
                                    text-transform: none;
                                    letter-spacing: 0.02em;
                                    border: none;

                                    &:hover {
                                        background-color: rgb(229, 229, 229);
                                        cursor: pointer;
                                    }
                                }
                            }

                            .document-title {
                                margin-top: 15px;

                                h1 {
                                    margin: 0px;
                                    color: inherit;
                                    font-size: 2rem;
                                    line-height: 1.5rem;
                                    font-weight: 600;
                                    text-transform: none;
                                    letter-spacing: 0px;
                                }
                            }

                            .show-falculty-major {
                                margin-top: 15px;
                                display: flex;
                                flex-flow: wrap;
                                gap: 0.5rem 1.5rem;
                            }

                            .show-description-document {
                                margin-top: 15px;
                                color: inherit;
                                font-size: 1rem;
                                line-height: 1.25rem;
                                font-weight: 400;
                                text-transform: none;
                                letter-spacing: 0.02em;
                            }
                        }

                        .title-right {
                            width: 50%;

                            .show-user-buton-document {
                                height: 100%;

                                .show-button {
                                    height: 50%;

                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;

                                    .btn-download {
                                        background-color: rgb(0, 97, 254);
                                        border: none;
                                        color: white;
                                        border-radius: 3px;
                                        cursor: pointer;
                                        width: 15rem;
                                        height: 2rem;
                                    }

                                    .btn-favour {
                                        background-color: transparent;
                                        border-radius: 3px;
                                        cursor: pointer;

                                        &:hover {
                                            background-color: rgb(229, 229, 229);
                                        }
                                    }

                                    .btn-report {
                                        background-color: transparent;
                                        border-radius: 3px;
                                        cursor: pointer;

                                        &:hover {
                                            background-color: rgb(229, 229, 229);
                                        }
                                    }
                                }

                                .show-user {
                                    height: 50%;
                                    text-align: center;

                                }
                            }
                        }

                    }



                }
            }
        }


    }

    .display-document-file {
        background-color: rgb(230, 239, 255);
        height: 60rem;

        .display-content {

            display: flex;
            width: 80%;
            margin: 0 auto;
            height: 100%;

            .content-left {

                width: 70%;
                height: 100%;

                .view-page {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    padding: 20px;

                    .toolbar {

                        background-color: white;
                        width: 80%;
                        height: 30px;
                        margin: 0 auto;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;


                    }

                    .display-file-view {

                        margin-top: 15px;
                    }
                }
            }

            .content-right {

                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                .content-wrap {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    height: 500px;
                    background-color: white;
                    border-radius: 6px;
                    padding: 10px;

                    .related-title {
                        font-size: 20px;
                        text-align: center;
                        border-bottom: 2px solid lightgrey;
                        margin-bottom: 20px;
                    }

                    .show-related {
                        border: 1px solid red;
                        height: 80%;
                    }
                }
            }
        }
    }
}