.section-all-contain {

    background-color: rgb(247, 245, 242);
    height: 30rem;

    .section-all-content {

        height: 250px;
        margin: 5px 15px;
        padding-top: 30px;

        .section-all-title {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
            font-family: ui-sans-serif;
            font-size: 20px;
            font-weight: 600;
            padding: 0px 8px;

        }

        .section-all-recommend-doc {
            padding: 0 30px;

            .section-all-recommend-doc-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 30px;

                .section-doc {

                    height: 100%;
                    width: 80%;
                    margin: 0 auto;

                    .list-group-item {
                        height: 4rem;
                        font-size: 15px;
                        text-align: left;
                        font-weight: 400;

                        &:hover {
                            cursor: pointer;
                            color: rgb(46, 46, 248)
                        }
                    }
                }
            }


        }

        .section-doc-pagination {

            margin-top: 15px;

            nav {
                justify-content: center;
                display: flex;

                .pagination {
                    margin: 0 auto;

                    .page-item {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}