.section-all-contain {

    background-color: rgb(247, 245, 242);
    height: 300px;

    .section-all-content {

        height: 250px;
        margin: 5px 15px;
        padding-top: 30px;

        .section-all-title {

            margin-top: 10px;
            margin-bottom: 15px;
            font-family: ui-sans-serif;
            font-size: 20px;
            font-weight: 600;
            padding: 0px 8px;

        }

        .section-all-recommend-doc {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 8px;

            .section-doc {

                height: 200px;
                width: 200px;

                .doc-show {

                    height: 120px;
                    margin-bottom: 15px;
                    background-image: url('../../assets/Home/document.webp');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    border-radius: 3px;
                    border: 3px solid transparent;
                    box-shadow: rgb(230, 226, 220) 0px 0px 0px 3px inset;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .doc-description {

                    font-size: 15px;
                    text-align: left;
                    font-weight: 400;

                    &:hover {
                        cursor: pointer;
                        color: rgb(46, 46, 248)
                    }
                }
            }
        }
    }
}