.get-user-wrap {

    margin: 0 auto;
    width: 50%;
    height: 500px;
    padding: 15px 30px;
    position: relative;
    top: 50px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

    .get-user-header {


        display: flex;
        flex-direction: column;
        margin-bottom: 20px;


        .get-user-title {
            font-size: 22px;
            font-weight: 600;
        }

        .get-user-text {
            font-size: 15px;
            opacity: 0.8;
            font-family: sans-serif;
            margin-top: 8px;
        }
    }

    .get-user-info {

        height: 90px;
        display: flex;
        align-items: center;
        gap: 10px;

        .inputInfo {
            margin-bottom: 10px;
            margin-top: 8px;
            font-size: 17px;
            width: 120px;
        }

        .user-input {

            width: 350px;
            border-radius: 3px;
            border: none;
        }
    }
}