.header-contain-all {

    padding: 0 15px;
    background: #ffffff;

    .header-section {

        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;


        .header-study-logo {

            height: 100%;
            width: 160px;
            background-image: url('../assets/Home/home-header-logo.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            cursor: pointer;

        }

        .header-content {

            height: 100%;
            width: 700px;

            .header-content-list {

                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;

                .list-item {

                    display: flex;
                    opacity: 0.6;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(230, 239, 255);
                        opacity: 1;
                    }

                    .list-item-icon {
                        margin-right: 10px;
                    }

                    .list-item-title {
                        font-size: large;
                    }
                }
            }
        }

        .header-account {

            height: 100%;
            width: 200px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .header-avatar {

                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-image: url('../assets/Home/account-avatar.webp');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;




            }

            .header-username {
                .Link {
                    font-size: 15px;
                    font-family: system-ui;
                    text-decoration: none;
                    color: black;
                    opacity: 0.7;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }


            }

            .logout {

                width: 30px;
                height: 30px;
                opacity: 0.6;

                span {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(230, 239, 255);
                        opacity: 1;
                    }
                }
            }
        }
    }
}