.upload-container {

    height: 100%;

    .upload-top {

        height: 50%;
        margin-bottom: 40px;

        .upload-contents {

            height: 100%;
            width: 70%;
            margin: 0 auto;

            .upload-top-header {

                margin-top: 10px;

                .upload-top-title {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                }
            }

            .upload-file-form {

                cursor: pointer;
                height: 275px;
                background-image: url('../../assets/Upload/DashedFrame.svg');
                overflow: hidden;

                .input-wrapper {

                    max-width: 658px;
                    width: 100%;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    height: 90%;
                    padding-top: 15px;
                    margin-top: 15px;

                    .input-file {

                        display: none;
                    }

                    .upload-icon {

                        color: rgb(0, 97, 254);
                    }

                    .drag-file {
                        font-size: 18px;
                        font-weight: 400;
                        height: 25%;
                        padding-top: inherit;
                    }

                    .seperator {
                        margin: 0.75rem 0px;
                        display: flex;
                        align-items: center;

                        gap: 1rem;
                        height: 25%;


                        &::before {
                            border-top: 1px solid rgb(217, 212, 204);
                            flex: 1 1 0%;
                            content: "";
                        }

                        &::after {
                            border-top: 1px solid rgb(217, 212, 204);
                            flex: 1 1 0%;
                            content: "";
                        }

                        .seperate-label {
                            max-width: 70%;
                            text-align: center;
                        }
                    }

                    .btn-select-file {
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        font-weight: 600;
                        text-transform: none;
                        letter-spacing: 0.04em;
                        height: 40px;
                        width: 100%;
                        background-color: rgb(0, 97, 254);
                        color: white;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                }
            }

            .display-file {

                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 25px;

                .show-file {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 10px;
                    border-bottom: 1px solid rgb(217, 212, 204);
                    opacity: 0.9;

                    span {
                        cursor: pointer;

                        &:hover {
                            background-color: rgb(229, 229, 229);
                            color: rgb(46, 44, 44);
                        }


                    }
                }

                .btn-next {
                    width: 15rem;
                    margin: 0 auto;
                    background-color: rgb(0, 97, 254);
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
    }

    .upload-bottom {

        height: 500px;
        background-color: rgb(230, 239, 255);

        .upload-bottom-contents {

            width: 60%;
            height: 100%;
            margin: 0 auto;
            padding-top: 5px;
            padding-bottom: 5px;

            .upload-footer {

                height: 100%;
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding-top: 100px;

                .footer-list {

                    display: flex;

                    align-items: flex-start;

                    span {
                        i {
                            font-size: 25px;
                        }

                        width: 2rem;
                        height: 2rem;
                        color: rgb(0, 0, 0);
                    }

                    .list-title {

                        flex-grow: 1;
                        margin-left: 1rem;

                        .list-title-header {
                            margin: 0px 0px 0.5rem;
                            color: inherit;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            font-weight: 500;
                            text-transform: none;
                            letter-spacing: 0px;
                        }

                        .list-title-description {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}