.admin-container {
    padding: 5px;
    background: #292929;

    .admin-header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        .left-nav {

            display: flex;
            gap: 15px;
            cursor: pointer;
        }

        .left-nav a {
            color: white;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }
        }

        .left-nav a.active {
            border-bottom: 1px solid rgb(150, 148, 148);
        }

        .right-nav {
            span {
                color: white;
                cursor: pointer;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}