.filter-btn {
    background-color: #d9d9e1;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    margin: 0 auto;

    &:hover {
        cursor: pointer;
    }
}

.filter-document {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 50px;

    button {
        border-radius: 4px;
        border: none;
        background-color: #d9d9e1;

        &:hover {
            cursor: pointer;
            background-color: rgb(82, 80, 223);
            color: white;
        }

        &:active {
            background-color: rgb(82, 80, 223);
            color: white;
        }
    }
}