.manage-user-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn-add {
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
    }
}

.table {

    button {
        border: none;
        margin-right: 3px;
        cursor: pointer;
    }


}